<template>
  <v-container>
    <v-row class="align-center" justify="center">
      <v-col cols="12" sm="10">
        <v-card class="elevation-6 mt-10">
          <v-alert v-if="alertKO" type="error">Wrong credentials, please try again.</v-alert>
          <v-row>
            <v-col cols="12" md="6">
              <v-card-text class="mt-12">
                <h1 class="text-center">Login</h1>

                <v-row class="align-center" justify="center">
                  <v-col cols="12" sm="8">

                    <v-text-field v-model="email" label="Email" outlined dense color="blue" autocomplete="false"
                      class="mt-16" required />
                    <v-text-field v-model="password" outlined dense color="blue"
                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" :type="showPassword ? 'text' : 'password'"
                      label="Password" @click:append="showPassword = !showPassword"></v-text-field>
                    <v-btn class="mr-4" type="submit" @click="(e) => login(e)" dark block tile> Login </v-btn>
                    <br />
                  </v-col>
                </v-row>
              </v-card-text>
            </v-col>
            <v-col cols="12" md="6" class="blue rounded-bl-xl">
              <div style="  text-align: center; padding: 180px 0;">
                <v-card-text class="white--text">
                  <h3 class="text-center ">Don't Have an Account Yet?</h3>
                  <h6 class="text-center">Contact your manager</h6>
                </v-card-text>
              </div>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
import { loginUser, getUserConnected } from '@/requests'

export default {
  name: "LoginComponent",
  data() {
    return {
      alertKO: false,
      showPassword: false,
      edit: false,
      email: "",
      password: "",
    };
  },
  methods: {
    login(e) {
      e.preventDefault();

      const body = {
        "email": this.email,
        "password": this.password,
      }

      loginUser(body)
        .then(async (response) => {
          const res = await response.json()
          if (res.status == 1) {
            localStorage.token = res.token
            this.getUserConnected()
          } else {
            this.alertKO = true
            setTimeout(() => {
              this.alertKO = false
            }, 5000)
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getUserConnected() {
      getUserConnected()
        .then(async (response) => {
          const res = await response.json();
          if (res.status == 1) {
            this.$store.commit("setUserConnected", res.data.user);
            this.$router.push({ name: 'home' })
          } else {
            this.$router.push({ name: 'login' })
          }
        })
        .catch(() => {
        });
    },
  },
};
</script>