<template>
  <div>
    <user-form v-if="storeUserConnected[0]" :user_id="current_user_id" :connectedUser="storeUserConnected[0]" :edit="true" :profile="true" />
  </div>
</template>


<script>
import UserForm from '../utils/UserForm.vue';
import { mapState } from "vuex";

export default {
  name: "ProfileComponent",
  components: { UserForm },
  watch: {
    storeUserConnected() {
      if (this.storeUserConnected[0]) {
        this.current_user_id = this.storeUserConnected[0].id;
      }
    },
  },
  computed: {
    ...mapState({
      storeUserConnected: (s) => s.userConnected,
    }),
    current_user_id() {
      return this.storeUserConnected[0] ? this.storeUserConnected[0].id : null
    }
  }
};
</script>