<template>
  <div>
    <v-card class="chart">
      <v-toolbar flat> </v-toolbar>
      <Pie
        :chart-options="chartOptions"
        :chart-data="chartData"
        :chart-id="chartId"
        :dataset-id-key="datasetIdKey"
        :plugins="plugins"
        :css-classes="cssClasses"
        :styles="styles"
        :width="width"
        :height="height"
      />
      <v-btn class="toolIcon2 ma-2" @click="deleteChart()" dark>
        <v-icon> mdi-delete </v-icon>
      </v-btn>
      <v-btn
        class="toolIcon ma-2"
        @click="showChartSetting = !showChartSetting"
        dark
      >
        {{ showChartSetting ? "Hide" : "Show" }}
        <v-icon> mdi-tools </v-icon>
      </v-btn>

      <div v-if="showChartSetting">
        <v-icon class="" @click="colorPicker = !colorPicker"
          >{{ colorPicker ? "Hide" : "Show" }} mdi-format-color-fill
        </v-icon>
        <div v-if="colorPicker">
          <v-color-picker
            show-swatches
            mode="hexa"
            hide-sliders
            hide-inputs
            hide-canvas
            v-model="color"
            width="auto"
          ></v-color-picker>

          <v-select
            v-if="
              chartData.datasets.length > 0 &&
              this.graphDataFunction != 'Average weekday working hours'
            "
            v-model="dataset"
            :items="chartData.datasets"
            name="dataset"
            item-title="label"
            item-value="id"
            label="Change data color"
            solo
          >
          </v-select>

          <v-select
            v-if="
              chartData.datasets.length == 1 &&
              this.graphDataFunction == 'Average weekday working hours'
            "
            v-model="dataset"
            :items="chartData.labels"
            label="Change data color"
            solo
          >
          </v-select>
        </div>
        <div class="datepicker">
          <div class="date_label">Start Date</div>
          <datepicker
            v-model="startDatePicker"
            :format="DatePickerFormat"
            :autoApply="true"
            :enableTimePicker="false"
          >
          </datepicker>
        </div>
        <div class="datepicker">
          <div class="date_label">End Date</div>
          <datepicker
            v-model="endDatePicker"
            :format="DatePickerFormat"
            :autoApply="true"
            :enableTimePicker="false"
          >
          </datepicker>
        </div>

        <v-select
          v-model="graphDataFunction"
          :items="graphDataFunctions"
          label="Data functions"
          solo
        >
        </v-select>
      </div>
    </v-card>
  </div>
</template>

<script>
import { Pie } from "vue-chartjs";
import Datepicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import { updateChart, deleteChart } from "../../requests";

import {
  getLabels,
  getTotalWorkingHours,
  getAverageWorkingHours,
  getLabelsMonth,
  getDayWorkingHours,
  getNightWorkingHours,
  getAverageWeekDayWorkingHours,
} from "../../utils/charts";

import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  ArcElement,
  CategoryScale,
} from "chart.js";

ChartJS.register(Title, Tooltip, Legend, ArcElement, CategoryScale);

export default {
  name: "PieChart",
  components: { Pie, Datepicker },
  props: {
    chartId: {
      type: String,
      default: "pie-chart",
    },
    datasetIdKey: {
      type: String,
      default: "label",
    },
    width: {
      type: Number,
      default: 200,
    },
    height: {
      type: Number,
      default: 200,
    },
    cssClasses: {
      default: "",
      type: String,
    },
    styles: {
      type: Object,
      default: () => {},
    },
    plugins: {
      type: Object,
      default: () => {},
    },
    workingtime: {
      type: Array,
    },
    dataName: {
      type: String,
    },
    graphSetting: {
      type: Object,
      default: () => {},
    },
    chart: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    color: {
      get() {
        return this[this.type];
      },
      set(v) {
        if (
          this.chartData.datasets.length == 1 &&
          this.graphDataFunction == "Average weekday working hours"
        ) {
          this.chartData.datasets[0].backgroundColor[
            this.weekdays.indexOf(this.dataset)
          ] = v;

          this.updateGraphSettings.datasets[0].backgroundColor[
            this.weekdays.indexOf(this.dataset)
          ] = v;
        } else {
          this.updateGraphSettings.datasets[this.dataset].backgroundColor[0] =
            v;
          this.chartData.datasets[this.dataset].backgroundColor =
            this.updateGraphSettings.datasets[this.dataset].backgroundColor[0];
        }
        this[this.type] = v;
        this.updateChart(this.updateGraphSettings);
      },
    },
  },
  methods: {
    setStartDate() {
      this.startDate = this.startDatePicker.toISOString().substr(0, 10);
      this.updateGraphSettings.startDate = this.startDate;
    },
    setEndDate() {
      this.endDate = this.endDatePicker.toISOString().substr(0, 10);
      this.updateGraphSettings.endDate = this.endDate;
    },
    setTotalWorkingHours() {
      this.workinghoursData = getTotalWorkingHours(
        this.workingtime,
        this.startDate,
        this.endDate
      );
      var obj = {
        id: 0,
        label: "Total",
        data: this.workinghoursData,
        backgroundColor: [this.chartOptions.backgroundColor],
      };
      this.chartData.datasets.push(obj);
      this.labelsData = getLabels(
        this.workingtime,
        this.startDate,
        this.endDate
      );
      this.chartData.labels = this.labelsData;
    },
    setAverageWorkingHours() {
      this.workinghoursData = getAverageWorkingHours(
        this.workingtime,
        this.startDate,
        this.endDate
      );
      var obj = {
        id: 0,
        label: "Average",
        data: this.workinghoursData,
        backgroundColor: [this.chartOptions.backgroundColor],
      };
      this.chartData.datasets.push(obj);
      this.labelsData = getLabelsMonth(
        this.workingtime,
        this.startDate,
        this.endDatey
      );
      this.chartData.labels = this.labelsData;
    },
    setDetailsWorkingHours() {
      this.workinghoursData = getDayWorkingHours(
        this.workingtime,
        this.startDate,
        this.endDate
      );
      var obj = {
        id: 0,
        label: "Day",
        data: this.workinghoursData,
        backgroundColor: [this.chartOptions.backgroundColor],
      };
      this.chartData.datasets.push(obj);
      this.workinghoursData = getNightWorkingHours(
        this.workingtime,
        this.startDate,
        this.endDate
      );
      obj = {
        id: 1,
        label: "Night",
        data: this.workinghoursData,
        backgroundColor: ["blue"],
      };
      this.chartData.datasets.push(obj);
      var objOptions = {
        x: {
          stacked: true,
          gridLines: {
            display: false,
          },
        },
        y: {
          stacked: true,
          ticks: {
            beginAtZero: true,
          },
          type: "linear",
        },
      };

      this.chartOptions.scales = objOptions;

      this.labelsData = getLabels(
        this.workingtime,
        this.startDate,
        this.endDate
      );
      this.chartData.labels = this.labelsData;
    },
    setAverageWeekDayWorkingHours() {
      this.workinghoursData = getAverageWeekDayWorkingHours(
        this.workingtime,
        this.startDate,
        this.endDate
      );
      var obj = {
        id: 0,
        label: "Average day hours",
        data: this.workinghoursData,
        backgroundColor: this.weekDayBackgroundColor,
      };
      this.chartData.datasets.push(obj);
      this.labelsData = this.weekdays;
      this.chartData.labels = this.labelsData;
    },
    updateGraphData() {
      this.chartOptions.scales = {};
      this.chartData.datasets = [];
      this.dataset = "";
      switch (this.graphDataFunction) {
        case "Total working hours":
          this.setTotalWorkingHours();
          break;
        case "Day average working hours on month":
          this.setAverageWorkingHours();
          break;
        case "Details working hours":
          this.setDetailsWorkingHours();
          break;
        case "Average weekday working hours":
          this.setAverageWeekDayWorkingHours();
          break;
        default:
          break;
      }
      this.updateGraphSettings.graphDataFunction = this.graphDataFunction;
      this.setGraphSettings();
      this.updateChart(this.updateGraphSettings);
    },
    setGraphSettings() {
      let i = 0;
      this.updateGraphSettings.datasets.forEach((dataset) => {
        if (i < this.chartData.datasets.length) {
          for (
            let j = 0;
            j < this.chartData.datasets[i].backgroundColor.length;
            j++
          ) {
            this.chartData.datasets[i].backgroundColor[j] =
              dataset.backgroundColor[j];
          }
        }
        i++;
      });
    },

    loadUpdateGraphSetting() {
      this.updateGraphSettings = this.graphSetting;
      if (
        this.updateGraphSettings.startDate != "" &&
        this.updateGraphSettings.endDate != ""
      ) {
        this.startDate = new Date(this.updateGraphSettings.startDate);
        this.endDate = new Date(this.updateGraphSettings.endDate);
      }
      this.graphDataFunction = this.updateGraphSettings.graphDataFunction;
      if (
        this.updateGraphSettings.startDate != "" &&
        this.updateGraphSettings.endDate != ""
      ) {
        this.startDatePicker = new Date(this.updateGraphSettings.startDate);
        this.endDatePicker = new Date(this.updateGraphSettings.endDate);
      }
      console.log(this.updateGraphSettings.startDate);
    },

    updateChart(settings) {
      const body = {
        chart: {
          type: this.chart.type,
          user_id: this.userId,
          positionX: 300,
          positionY: 300,
          settings: settings,
        },
      };
      // console.log("id" + this.chart.id);
      // console.log("chart type" + this.chart.type);

      updateChart(JSON.stringify(this.chart.id), body)
        .then(async (response) => {
          const res = await response.json();
          if (res.data) {
            console.log("mis a jour graph");
          } else {
            console.log("todo: error to display");
          }
        })
        .catch(() => {});
    },
    deleteChart() {
      deleteChart(JSON.stringify(this.chart.id))
        .then(async (response) => {
          const res = await response.json();
          if (res.data) {
            console.log("chart delete");
          } else {
            console.log("todo: error to display");
          }
        })
        .catch(() => {});
      this.$emit("refreshChart");
    },
  },
  watch: {
    graphDataFunction() {
      this.updateGraphData();
    },
    startDatePicker() {
      this.setStartDate();
      this.updateGraphData();
    },
    endDatePicker() {
      this.setEndDate();
      this.updateGraphData();
    },
    updateGraphSettings: {
      handler: function (newValue) {
        console.log("update graph settings");
        this.updateChart(newValue);
      },
      deep: true,
    },
  },
  data() {
    return {
      weekDayBackgroundColor: [
        "red",
        "blue",
        "green",
        "orange",
        "purple",
        "yellow",
      ],
      colorPicker: false,
      showChartSetting: false,
      DatePickerFormat: "dd/MM/yyyy",
      workinghoursData: [],
      labelsData: "",
      dataset: "",
      startDatePicker: "",
      endDatePicker: "",
      startDate: new Date("2022-03-10"),
      endDate: new Date("2022-04-10"),
      graphDataFunction: "Total working hours",
      graphDataFunctions: [
        "Total working hours",
        "Day average working hours on month",
        "Details working hours",
        "Average weekday working hours",
      ],
      chartData: {
        labels: this.labelsData,
        datasets: [
          // {
          //   label: this.dataName,
          //   data: this.workinghoursData,
          // },
        ],
      },
      chartOptions: {
        responsive: true,
        backgroundColor: "red",
        scales: {},
      },
      userId: this.$route.params.userID,
      weekdays: [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ],
      updateGraphSettings: {},
    };
  },
  beforeMount() {
    this.loadUpdateGraphSetting();
    this.updateGraphData();
  },
  updated() {
    this.loadUpdateGraphSetting();
    this.updateGraphData();
  },
};
</script>

<style>
.chart {
  position: relative;
}
.toolIcon2 {
  position: absolute;
  top: 5px;
  left: 5px;
}
.toolIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  visibility: hidden;
}
.chart:hover .toolIcon {
  visibility: visible;
}
.datepicker {
  /* max-width: 160px; */
  margin: 5px;
}

.date_label {
  margin: 5px;
}
</style>
