<template>
  <div>
    <v-app-bar
      app
      color="white"
      height="100"
      image="https://img.freepik.com/photos-gratuite/ciel-coucher-soleil-nuages-lumiere-rose-violet_102332-2534.jpg?size=626&ext=jpg"
    >
      <v-avatar class="ml-3" color="grey lighten-5" size="70">
        <v-img contain max-height="70%" src="@/assets/hour.png"></v-img>
      </v-avatar>
      <v-app-bar-nav-icon
        v-if="storeUserConnected[0]"
        @click.stop="openDrawer = !openDrawer"
      />

      <v-toolbar-title>
        <v-btn text>
          <router-link to="/">Home</router-link>
        </v-btn>
        <v-btn text>
          <!-- <router-link to="/about">About</router-link> -->
          ABOUT
        </v-btn>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        {{ storeUserConnected[0] && storeUserConnected[0].username }}
        <v-btn v-if="storeUserConnected[0]" text>
          <router-link to="/profile">Profile</router-link>
        </v-btn>
        <v-btn v-if="storeUserConnected[0] && manager" text>
          <router-link to="/manager">Manager</router-link>
        </v-btn>
        <v-btn v-if="storeUserConnected[0]" text>
          <a @click="clearUser()">LOGOUT</a>
        </v-btn>
        <v-btn v-else text>
          <router-link to="/login">LOGIN</router-link>
        </v-btn>
      </v-toolbar-title>
    </v-app-bar>

    <v-navigation-drawer
      v-if="storeUserConnected[0]"
      v-model="openDrawer"
      fixed
      app
    >
      <v-row>
        <!-- <v-col cols="12">
                    <v-card @click="goTo('dashboard')" dark>
                        <v-card-title>
                            <v-icon>mdi-chart-line</v-icon>
                            My Dashboard
                        </v-card-title>
                        <v-card-subtitle>
                            .
                        </v-card-subtitle>
                    </v-card>
                </v-col> -->
        <v-col cols="12">
          <v-card @click="goTo('clock', { userID: current_user_id })" dark>
            <v-card-title>
              <v-icon>mdi-clock</v-icon>
              Clock-in/Clock-out
            </v-card-title>
            <v-card-subtitle> When you arrive and leave work. </v-card-subtitle>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-card
            @click="goTo('allWorkingTimes', { userID: current_user_id })"
            dark
          >
            <v-card-title>
              <v-icon>mdi-calendar</v-icon>
              My time manager
            </v-card-title>
            <v-card-subtitle> Check your hours of work. </v-card-subtitle>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-card @click="goTo('projects', { userID: current_user_id })" dark>
            <v-card-title>
              <v-icon>mdi-briefcase</v-icon>
              My projects
            </v-card-title>
            <v-card-subtitle> . </v-card-subtitle>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-card
            @click="goTo('manageCharts', { userID: current_user_id })"
            dark
          >
            <v-card-title>
              <v-icon>mdi-chart-line</v-icon>
              My Chart Manager
            </v-card-title>
            <v-card-subtitle> . </v-card-subtitle>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-card @click="goTo('wages', { userID: current_user_id })" dark>
            <v-card-title>
              <v-icon>mdi-cash-100</v-icon>
              My wages
            </v-card-title>
            <v-card-subtitle> . </v-card-subtitle>
          </v-card>
        </v-col>
      </v-row>
    </v-navigation-drawer>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "NavBarComponent",
  components: {},
  data() {
    return {
      openDrawer: false,
    };
  },
  computed: {
    ...mapState({
      storeUserConnected: (s) => s.userConnected,
    }),
    current_user_id() {
      return this.storeUserConnected[0] ? this.storeUserConnected[0].id : null;
    },
    manager() {
      return (
        this.storeUserConnected[0] && this.storeUserConnected[0].role_id > 1
      );
    },
  },
  watch: {
    storeUserConnected() {
      if (this.storeUserConnected.length != 0) {
        this.current_user_id = this.storeUserConnected[0].id;
      }
    },
  },
  methods: {
    goTo(_page, _params) {
      this.$router.push({ name: _page, params: _params });
      this.openDrawer = false;
    },
    clearUser() {
      this.$router.push({ name: "login" });
      localStorage.removeItem("token");
      this.$store.commit("clearUserConnected");
    },
  },
};
</script>
