<template>
  <v-container>
    <v-col v-if="edit" class="text-h2" cols="12">
      <p>
        {{ user.username }}
      </p>
    </v-col>
    <v-form>
      <div v-if="!loaderUpdate" class="border border-secondary rounded p-3">
        <v-text-field v-model="user.username" label="Username" required></v-text-field>

        <v-text-field v-model="user.email" :rules="email_rules" label="Email" required></v-text-field>
        <v-radio-group v-if="manager" v-model="user.role_id" inline>
          <v-radio label="User" :value="1"></v-radio>
          <v-radio label="Manager" :value="2"></v-radio>
        </v-radio-group>

        <v-text-field v-if="manager" v-model="user.hourly_wage" label="Hourly wage" required></v-text-field>
        <v-text-field v-if="manager" v-model="user.night_hours_month" label="Night hours already done this week"
          required>
        </v-text-field>

        <v-text-field v-model="user.password" :append-icon="show_pwd ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show_pwd ? 'text' : 'password'" :rules="[pwd_rules.required, pwd_rules.min]" label="Password"
          hint="At least 6 characters" counter @click:append="show_pwd = !show_pwd">
        </v-text-field>

        <v-text-field v-model="user.password_confirmation" :append-icon="show_pwd_conf ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show_pwd_conf ? 'text' : 'password'"
          :rules="[user.password === user.password_confirmation || 'Password must match']" label="Password Confirmation"
          hint="At least 6 characters" counter @click:append="show_pwd_conf = !show_pwd_conf"></v-text-field>

        <div v-if="edit" >
          <v-btn v-if="(connectedUser && user.id == connectedUser.id) || user.role_id < 3" class="mr-4" @click="updateUser()"> Edit </v-btn>
          <div v-else>
              <v-btn>
                No right to edit this user.
              </v-btn>
          </div>
        </div>
        <v-btn v-else class="mr-4" @click="createUser()"> Register </v-btn>
      </div>
      <div v-else class="border border-secondary rounded p-3 text-center">
        <vue-loaders-pacman color="black" />
      </div>
    </v-form>
    <v-chip v-if="edit" class="ma-2" color="red" text-color="white" @click="dialog = true">
      Delete the account
    </v-chip>

    <v-dialog v-model="dialog">
      <v-card>
        <v-card-item>
          <v-card-title>Delete the user {{user.username}}</v-card-title>
        </v-card-item>
        <v-card-text>
          Are you sure you want to delete {{user.username}} ?
        </v-card-text>
        <v-card-actions>
          <v-btn class="mr-4" @click="dialog = false"> Cancel </v-btn>
        <v-btn class="mr-4" @click="deleteUser()"> Delete </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
// import { mapState } from "vuex";
import { getUser, createUser, updateUser, deleteUser } from "../../requests"; //, createUser, updateUser, deleteUser } from "../../requests";

export default {
  name: 'UserFormComponent',
  props: ["edit", "user_id", "profile", "manager", "connectedUser"],
  data() {
    return {
      show_pwd: false,
      show_pwd_conf: false,
      pwd_rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 6 || "Min 6 characters",
      },
      email_rules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      user: {
        email: "",
        username: "",
        password: "",
        password_confirmation: "",
        hourly_wage: "",
        night_hours_month: "",
        role_id: "",
      },
      loaderUpdate: false,
      dialog: false
    };
  },

  watch: {
    user_id: {
      deep: true,
      handler(value) {
        if (!this.profile) {
          this.getUser(value)
        }
      }
    }
  },
  beforeMount() {
    if (this.profile) {
      this.user = this.connectedUser
    } else {
      if (this.user_id) this.getUser(this.user_id);
    }
  },
  methods: {
    createUser() {
      const body = {
        "user": this.user
      }

      createUser(body)
        .then(async (response) => {
          const res = await response.json();
          this.$emit('alertOK', 'User successfully created')
          this.$emit('createUser', res.data)
        })
        .catch((error) => {
          console.log(error);
        });
    },

    updateUser() {
      this.loaderUpdate = true
      const body = {
        "user": {
          "username": this.user.username,
          "email": this.user.email,
          "hourly_wage": this.user.hourly_wage,
          "night_hours_month": this.user.night_hours_month,
          "role_id": this.user.role_id
        }
      }

      if (this.user.password != "") body.user.password = this.user.password

      updateUser(this.user_id, body)
        .then(async () => {
          // const res = await response.json();
          setTimeout(() => {
            this.loaderUpdate = false
            this.$emit('alertOK', 'User successfully edited')
          }, 2500)
        })
        .catch((error) => {
          console.log(error);
        });

    },

    getUser(_userID) {
      getUser(_userID)
      .then(async (response) => {
        const res = await response.json();
        this.user = res.data
      })
      .catch(() => { });
    },
    
    deleteUser() {
      deleteUser(this.user_id)
      .then(async () => {
        this.dialog = false
        this.$emit('getUsers')
        this.$emit('alertOK', 'User successfully deleted')
        })
        .catch(() => { });

    },
  },
};
</script>