<template>
  <v-container>
    <vue-cal :disable-views="['years', 'year']" :selected-date="today" :time-from="6 * 60" :time-to="23 * 60" :events="events" style="height: 800px"
      :on-event-click="(e) => onEventClick(e)">
      <!--:on-event-click="(e) => onEventClick(e)">-->
      <template #event="{ event }">
        <div class="vuecal__event-title">
          {{ event.title }}

          <v-btn size="x-small" @click.stop="edit = true; onClickBtn(event)" class="ma-2" color="grey"
            icon="mdi-pencil"></v-btn>
        </div>

        <small v-if="event.wt_type.id == 1" class="vuecal__event-time">
          <span>click to declare hours on a project</span><br />
        </small>

        <!-- <v-btn color="black" >Declare a project on this time</v-btn> -->
      </template>
    </vue-cal>

    <v-dialog v-model="dialog">
      <v-card>
        <v-card-item>
          <v-card-title>Declare hours on a project</v-card-title>
        </v-card-item>

        <v-card-text>
          <v-select v-model="selectedTeam" :items="projects" item-title="name" return-object label="Project" />
          Hours on this working time : {{ selectedWT_total_hour }}
          <v-text-field v-if="selectedTeam" v-model="inputHoursDeclared" label="Hours to declare" outlined dense
            color="blue" autocomplete="false" class="mt-16" required :rules="[hoursRules.required, hoursRules.max, hoursRules.min]" />
        </v-card-text>

        <v-card-actions class="d-flex align-end">
          <v-btn class="mr-4" @click="dialog = false"> Cancel </v-btn>
          <v-btn class="mr-4" @click="declareHoursOnTeam()"> Declare hours on a project </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import { getProjectsByUser, declareHoursOnTeam } from '@/requests'

export default {
  name: 'WtCalendarComponent',
  props: ["wt"],
  components: { VueCal },
  data() {
    return {
      dialog: false,
      today: new Date(),
      events: [],
      edit: false,
      projects: [],
      selectedTeam: null,
      selectedWT_total_hour: null,
      userID: this.$route.params.userID,
      hoursRules: {
        required: (value) => !!value || "Required.",
        max: (v) => v <= this.selectedWT_total_hour || "You can't declare more than the hours you worked",
        min: (v) => v > 0|| "The value can't be null",
      },
      inputHoursDeclared: 0,
      selectedWT: null
    }
  },
  watch: {
    wt: {
      deep: true,
      handler(value) {
        this.loadEvents(value)
      }
    }
  },
  beforeMount() {
    this.loadEvents(this.wt)
  },
  methods: {
    onEventClick(event) {
      if (event.wt_type.id == 1 && !this.edit) {
        this.dialog = true
        this.getProjects()
        this.selectedWT = event
        this.selectedWT_total_hour = event.night_hours + event.day_hours
      }
    },
    onClickBtn(event) {
      this.dialog = false
      this.$router.push({ name: "manageWorkingTime", params: { userID: this.userID, workingtimeID: event.id } })
      this.edit = false
    },
    loadEvents(_wt) {
      this.events = []
      _wt.forEach(element => {
        var a = JSON.parse(JSON.stringify(element))
        a.start = new Date(a.start)
        a.end = new Date(a.end)
        a.class = a.wt_type.name
        a.wt_type.name == "sick_leave" ? a.title = "Sick leave" :
          a.wt_type.name == "working" ? a.title = "Working" :
            a.wt_type.name == "vacation" ? a.title = "Vacation" :
              a.title = "Other"
        this.events.push(a)
      })
    },
    getProjects() {
      getProjectsByUser(this.userID)
        .then(async (response) => {
          const res = await response.json();
          this.projects = res.data;

          // this.projects.forEach((element) => {
          //   this.splitDays.push({
          //     label: element.name,
          //     class: element.name,
          //     id: element.id
          //   })
          // })

        })
        .catch(() => { });
    },
    declareHoursOnTeam() {
      const body = {
        "wt_team": {
          "hour_worked": this.inputHoursDeclared,
        }
      }
      declareHoursOnTeam(this.userID, this.selectedTeam.id, this.selectedWT.id, body)
        .then(async (response) => {
          const res = await response.json();
          console.log(res)
          this.dialog = false
        })
        .catch((e) => {
          console.log("error")
          console.log(e)
         });
    },

  }

}
</script>
<style scope>
.vuecal__event {
  color: #fff;
}

.working {
  background-color: rgba(148, 208, 248, 0.979);
  border: 1px solid rgb(90, 138, 228);
}

.sick_leave {
  background-color: rgba(224, 136, 158, 0.979);
  border: 1px solid rgb(230, 76, 96);
}

.vacation {
  background-color: rgba(135, 214, 61, 0.979);
  border: 1px solid rgb(47, 156, 37);
}

.other {
  background-color: rgba(238, 205, 96, 0.979);
  border: 1px solid rgb(235, 147, 17);
}
</style>
