<template>
  <v-app>
    <v-main>
      <nav-bar-component />
      <br />
      <br />
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import NavBarComponent from './components/utils/NavBar.vue';
import { mapState } from "vuex";
import { getUserConnected, getUsersByManager, getUsers } from "@/requests"

export default {
  name: 'App',

  components: {
    NavBarComponent,
  },
  // data: () => ({
  // }),
  computed: {
    ...mapState({
      storeUserConnected: (s) => s.userConnected,
    }),
    token() {
      return localStorage.token
    }
  },
  watch: {
    token(newValue) {
      if (newValue) {
        this.getUserConnected()
      } else {
        this.$router.push({ name: 'login' })
      }
    },
  },
  beforeMount() {
    if (this.token) this.getUserConnected()
  },
  methods: {
    getUserConnected() {
      getUserConnected()
        .then(async (response) => {
          const res = await response.json();
          if (res.status == 1) {
            const user = res.data.user
            this.$store.commit("setUserConnected", user);
            this.getUsersManaged(user.role_id, user.id)
          } else {
            this.$router.push({ name: 'login' })
          }
        })
        .catch(() => {
        });
    },
    getUsersManaged(role, id) {
      if (role == 2) {
        getUsersByManager(id)
          .then(async (response) => {
            const res = await response.json();
            res.data.forEach((element) => {
              if(element.id != id) this.$store.commit("setUsersManaged", element);
            });

          })
        } else if (role > 2)
        getUsers()
          .then(async (response) => {
            const res = await response.json();
            res.data.forEach((element) => {
              if(element.id != id) this.$store.commit("setUsersManaged", element);
            });
          })
          .catch(() => { });
    },


  },
};
</script>
