<template>
  <div>
    <v-row v-if="charts.length > 0" class="">
      <v-col cols="4" v-for="(chart, i) in charts" :key="i">
        <div v-if="chart.type == 'BarChart'">
          <BarChart
            :workingtime="workingTimes"
            :dataName="dataName"
            :graphSetting="chart.settings"
            :chart="chart"
            @refreshChart="refreshChart()"
            v-if="renderComponent"
          ></BarChart>
        </div>
        <div v-if="chart.type == 'LineChart'">
          <LineChart
            :workingtime="workingTimes"
            :dataName="dataName"
            :graphSetting="chart.settings"
            :chart="chart"
            @refreshChart="refreshChart()"
            v-if="renderComponent"
          ></LineChart>
        </div>
        <div v-if="chart.type == 'PieChart'">
          <PieChart
            :workingtime="workingTimes"
            :dataName="dataName"
            :graphSetting="chart.settings"
            :chart="chart"
            @refreshChart="refreshChart()"
            v-if="renderComponent"
          ></PieChart>
        </div>
      </v-col>
    </v-row>
    <br />
    <v-btn @click="createChart(chart)">Add chart</v-btn>
    <v-select v-model="chart" :items="items" label="Select chart to add" solo>
      <div></div>
    </v-select>
  </div>
</template>

<script>
import BarChart from "./Charts/BarChart.vue";
import LineChart from "./Charts/LineChart.vue";
import PieChart from "./Charts/PieChart.vue";
import { getWorkingTimes, getCharts, createChart } from "../requests";
import { mapState } from "vuex";

export default {
  data: function () {
    return {
      colorPicker: false,
      showChartSetting: false,
      workingTimes: [],
      userID_param: this.$route.params.userID,
      dataName: "Workinghours",
      color: "#f87979",
      items: ["BarChart", "LineChart", "PieChart"],
      chart: "",
      renderComponent: true,
      menu: false,
      charts: [],
      userId: this.$route.params.userID,
      isRefreshChart: 0,
    };
  },
  watch: {
    storeCharts() {
      // this.charts = this.storeCharts;
      // console.log("here");
    },
  },
  computed: {
    ...mapState({
      storeCharts: (s) => s.charts,
    }),
  },
  beforeMount() {
    this.getWorkingTimes();
    this.getCharts();
  },
  components: {
    BarChart,
    LineChart,
    PieChart,
  },
  methods: {
    getWorkingTimes() {
      getWorkingTimes(this.userId)
        .then(async (response) => {
          const res = await response.json();
          this.workingTimes = res.data;
        })
        .catch(() => {});
    },
    getCharts() {
      console.log("getcharts");
      getCharts()
        .then(async (response) => {
          const res = await response.json();
          this.charts = res.data;
          if (this.isRefreshChart == 1) {
            this.getCharts();
            this.updateComponent();
            this.isRefreshChart = 0;
          }
          this.charts.forEach((chart) => {
            this.$store.commit("addChart", chart);
          });
        })
        .catch(() => {});
    },
    refreshChart() {
      this.isRefreshChart = 1;
      this.getCharts();
    },
    createChart(typeChart) {
      const body = {
        chart: {
          user_id: this.userId,
          positionX: 300,
          positionY: 300,
          type: typeChart,
          settings: {
            // color: "#f87979",
            startDate: "",
            endDate: "",
            graphDataFunction: "Total working hours",
            datasets: [
              {
                backgroundColor: [
                  "red",
                  "blue",
                  "green",
                  "orange",
                  "purple",
                  "yellow",
                ],
                borderColor: [
                  "red",
                  "blue",
                  "green",
                  "orange",
                  "purple",
                  "yellow",
                ],
              },
              {
                backgroundColor: [
                  "red",
                  "blue",
                  "green",
                  "orange",
                  "purple",
                  "yellow",
                ],
                borderColor: [
                  "red",
                  "blue",
                  "green",
                  "orange",
                  "purple",
                  "yellow",
                ],
              },
              {
                backgroundColor: [
                  "red",
                  "blue",
                  "green",
                  "orange",
                  "purple",
                  "yellow",
                ],
                borderColor: [
                  "red",
                  "blue",
                  "green",
                  "orange",
                  "purple",
                  "yellow",
                ],
              },
            ],
          },
        },
      };
      createChart(body)
        .then(async (response) => {
          const res = await response.json();
          if (res.data) {
            this.getCharts();
            // this.$store.commit("addChart", body.chart);
            // this.charts = this.storeCharts;
            // console.log("create chart");
            // console.log(this.charts);
          } else {
            console.log("todo: error to display");
          }
        })
        .catch(() => {});
    },
    updateComponent() {
      // Removing my-component from the DOM
      this.renderComponent = false;

      this.$nextTick(() => {
        // Adding the component back in
        this.renderComponent = true;
      });
    },
    // addChart(typeChart) {
    //   var ChartData = {
    //     user_id: this.userId,
    //     positionX: 300,
    //     positionY: 300,
    //     type: typeChart,
    //     settings: {
    //       dataColor: "#f87979",
    //     },
    //   };
    //   // console.log(ChartData);
    //   this.$store.commit("addChart", ChartData);
    //   // this.charts.push(ChartData);
    // },
  },
};
</script>
<style>
@import "~bootstrap/dist/css/bootstrap.css";
</style>
