<template>
  <v-container>
    <v-row>
      <v-col :cols="is_mobile ? '12' : '4'">
         <v-card class="d-flex align-center justify-center" min-height="200" @click="goTo('dashboard')" dark>
          <v-card-title>
            <v-icon>mdi-chart-line</v-icon>
            My Dashboard
          </v-card-title>
        </v-card>
      </v-col>
      <v-col :cols="is_mobile ? '12' : '4'">
         <v-card class="d-flex align-center justify-center" min-height="200" @click="goTo('clock', { userID: current_user_id })" dark>
          <v-card-title>
            <v-icon>mdi-clock</v-icon>
            Clock-in/Clock-out
          </v-card-title>
        </v-card>
      </v-col>
      <v-col :cols="is_mobile ? '12' : '4'">
         <v-card class="d-flex align-center justify-center" min-height="200" @click="goTo('allWorkingTimes', { userID: current_user_id })" dark>
          <v-card-title>
            <v-icon>mdi-calendar</v-icon>
            My time manager
          </v-card-title>
        </v-card>
      </v-col>
      <v-col :cols="is_mobile ? '12' : '6'">
         <v-card class="d-flex align-center justify-center" min-height="200" @click="goTo('projects', { userID: current_user_id })" dark>
          <v-card-title>
            <v-icon>mdi-briefcase</v-icon>
            My projects
          </v-card-title>
        </v-card>
      </v-col>
      <v-col :cols="is_mobile ? '12' : '6'">
         <v-card class="d-flex align-center justify-center" min-height="200" @click="goTo('wages', { userID: current_user_id })" dark>
          <v-card-title>
            <v-icon>mdi-cash-100</v-icon>
            My wages
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import { useDisplay } from 'vuetify'
import { computed } from 'vue'

export default {
  name: "DashboardComponent",
    setup() {
    const { name } = useDisplay()

    const is_mobile = computed(() => {
      switch (name.value) {
        case 'xs': return true
      }

      return undefined
    })

    return { is_mobile }
  },
  data() {
    return {
    };
  },
  computed: {
    ...mapState({
      storeUserConnected: (s) => s.userConnected,
    }),
    current_user_id() {
      return this.storeUserConnected[0] ? this.storeUserConnected[0].id : null
    },
    manager() {
      return this.storeUserConnected[0] && this.storeUserConnected[0].role_id > 1
    }
  },
  watch: {
    storeUserConnected() {
      if (this.storeUserConnected.length != 0) {
        this.current_user_id = this.storeUserConnected[0].id;
      }
    },
  },
  methods: {
    goTo(_page, _params) {
      this.$router.push({ name: _page, params: _params })
      this.openDrawer = false
    }
  },
};
</script>