<!-- <template>
  <v-app>
    <body>
      <div id="app">
        <v-app>
          <v-main>
            <section id="hero">
              <v-row no-gutters>
                <v-img
                  :min-height="
                    'calc(100vh - ' + $vuetify.application.top + 'px)'
                  "
                  src="@/assets/hour.png"
                >
                  <v-theme-provider dark>
                    <v-container fill-height>
                      <v-row
                        class="white--text mx-auto text-center"
                        justify="center"
                      >
                        <v-col
                          class="white--text text-center"
                          cols="12"
                          tag="h1"
                        >
                          <span
                            :class="[
                              $vuetify.breakpoint.smAndDown
                                ? 'display-1'
                                : 'display-2',
                            ]"
                            class="font-weight-light"
                          >
                            WELCOME TO
                          </span>

                          <br />

                          <span
                            :class="[
                              $vuetify.breakpoint.smAndDown
                                ? 'display-3'
                                : 'display-4',
                            ]"
                            class="font-weight-black"
                          >
                          your time manager interface
                          </span>
                        </v-col>

                        <v-btn
                          class="align-self-end"
                          fab
                          outlined
                          @click="$vuetify.goTo('#about-us')"
                        >
                          <v-icon>mdi-chevron-double-down</v-icon>
                        </v-btn>
                      </v-row>
                    </v-container>
                  </v-theme-provider>
                </v-img>
              </v-row>
            </section>

            <section id="about-us">
              <div class="py-12"></div>

              <v-container class="text-center">
                <h2 class="display-2 font-weight-bold mb-3"> ---</h2>

                <v-responsive class="mx-auto mb-8" width="56">
                  <v-divider class="mb-1"></v-divider>

                  <v-divider></v-divider>
                </v-responsive>

                <v-responsive
                  class="mx-auto title font-weight-light mb-8"
                  max-width="720"
                >
                  abcdef
                </v-responsive>

                <v-avatar class="elevation-12 mb-12" size="128">
                  <v-img src="@/assets/person1.png"></v-img>
                </v-avatar>
                <v-avatar class="elevation-12 mb-12" size="128">
                  <v-img src="@/assets/person2.png"></v-img>
                </v-avatar>
                <v-avatar class="elevation-12 mb-12" size="128">
                  <v-img src="@/assets/person3.png"></v-img>
                </v-avatar>
                <v-avatar class="elevation-12 mb-12" size="128">
                  <v-img src="@/assets/person1.png"></v-img>
                </v-avatar>

                <div></div>
              </v-container>

              <div class="py-12"></div>
            </section>

            <section id="features" class="grey lighten-3">
              <div class="py-12"></div>

              <v-container class="text-center">
                <h2 class="display-2 font-weight-bold mb-3">HOW IT WORKS</h2>

                <v-responsive class="mx-auto mb-12" width="56">
                  <v-divider class="mb-1"></v-divider>

                  <v-divider></v-divider>
                </v-responsive>

                <v-row>
                  <v-col
                    v-for="({ icon, title, text }, i) in features"
                    :key="i"
                    cols="12"
                    md="4"
                  >
                    <v-card class="py-12 px-4" color="grey lighten-5" flat>
                      <v-theme-provider dark>
                        <div>
                          <v-avatar color="primary" size="88">
                            <v-icon large v-text="icon"></v-icon>
                          </v-avatar>
                        </div>
                      </v-theme-provider>

                      <v-card-title
                        class="justify-center font-weight-black text-uppercase"
                        v-text="title"
                      ></v-card-title>

                      <v-card-text class="subtitle-1" v-text="text">
                      </v-card-text>
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>

              <div class="py-12"></div>
            </section>

            <section id="stats">
              <v-parallax
                :height="$vuetify.breakpoint.smAndDown ? 700 : 500"
                src="https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
              >
                <v-container fill-height>
                  <v-row class="mx-auto">
                    <v-col
                      v-for="[value, title] of stats"
                      :key="title"
                      cols="12"
                      md="6"
                    >
                      <div class="text-center">
                        <div
                          class="display-3 font-weight-black mb-4"
                          v-text="value"
                        ></div>

                        <div
                          class="title font-weight-regular text-uppercase"
                          v-text="title"
                        ></div>
                      </div>
                    </v-col>
                  </v-row>
                </v-container>
              </v-parallax>
            </section>

            <v-sheet id="contact" color="#333333" dark tag="section" tile>
              <div class="py-12"></div>

              <v-container>
                <h2
                  class="
                    display-2
                    font-weight-bold
                    mb-3
                    text-uppercase text-center
                  "
                >
                  Contact US
                </h2>

                <v-responsive class="mx-auto mb-12" width="56">
                  <v-divider class="mb-1"></v-divider>

                  <v-divider></v-divider>
                </v-responsive>

                <v-theme-provider light>
                  <v-form @submit.prevent="sendEmail">
                    <v-row>
                      <v-col cols="12">
                        <v-text-field
                          v-model="name"
                          name="name"
                          flat
                          label="Name*"
                          solo
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12">
                        <v-text-field
                          v-model="email"
                          name="email"
                          flat
                          label="Email*"
                          solo
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12">
                        <v-text-field
                          v-model="subject"
                          name="subject"
                          flat
                          label="Subject*"
                          solo
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12">
                        <v-textarea
                          v-model="message"
                          name="message"
                          flat
                          label="Message*"
                          solo
                        ></v-textarea>
                      </v-col>

                      <v-col class="mx-auto" cols="auto">
                        <v-btn type="submit" color="accent" x-large>
                          Submit
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-form>
                </v-theme-provider>
              </v-container>

              <div class="py-12"></div>
            </v-sheet>
          </v-main>

          <v-footer class="justify-center" color="#292929" height="100">
            <div
              class="
                title
                font-weight-light
                grey--text
                text--lighten-1 text-center
              "
            >
              &copy; {{ new Date().getFullYear() }} - Jules - Melvin - Mohamed -
              Myriam
            </div>
          </v-footer>
        </v-app>
      </div>
    </body>
  </v-app>
</template>

<script>
// import emailjs from "emailjs-com";
export default {
  name: "HelloWorld",
  data() {
    return {
      name: "",
      email: "",
      message: "",
      subject: "",
      features: [
        {
          icon: "mdi-account-plus",
          title: "Register",
          text: "Don't wait another minute ! Go register to our website to have access to all our services and widgets.",
        },
        {
          icon: "mdi-menu",
          title: "Add a widget",
          text: "Click on the menu icon on the top left of the website and parameter the widget of your choice !",
        },
        {
          icon: "mdi-monitor-dashboard",
          title: "Check your dashboard",
          text: "Check and manage your widgets on your dashboard. Modify the parameters or delete them.",
        },
      ],
      stats: [
        ["10+", "Widgets"],
        ["10+", "Services"],
      ],
    };
  },
  methods: {
    // sendEmail(e) {
    //   console.log("entree dans email");
    //   console.log(e);
    //   try {
    //     emailjs.sendForm(
    //       "service_p05tb13",
    //       "template_wsogaep",
    //       e.target,
    //       "user_dGeWjAxoN9AaJ8bU5srUo",
    //       {
    //         name: this.name,
    //         email: this.email,
    //         message: this.message,
    //         subject: this.subject,
    //       }
    //     );
    //   } catch (error) {
    //     console.log({ error });
    //   }
    //   this.name = "";
    //   this.email = "";
    //   this.message = "";
    //   this.subject = "";
    // },
  },
};
</script> -->