<template>
  <v-card>
    <v-card-title class="text-center py-5">
      <v-row class="d-flex justify-center ">
        <h1 class="font-weight-bold text-h2 ml-auto mr-auto">
          Projects
        </h1>
      </v-row>
    </v-card-title>
    <div v-if="projects.length == 0" class="text-center justify-center">
      You are not assigned to any projects <br /> Please, contact your manager.
    </div>
    <v-expansion-panels v-else>
      <v-expansion-panel v-for="project in projects" :key="project.id" :title="project.name">
        <v-expansion-panel-text>
          <div class="d-flex justify-center">
            <v-progress-circular v-if="project.total_hours" :rotate="360" :size="200" :width="15"
              :model-value="100 - (100 * project.hours_remaining / project.total_hours)" color="teal">
              {{project.name}}
            </v-progress-circular>
          </div>
          <div class="d-flex justify-center">
            <strong>Total hours : </strong> &nbsp;{{ project.total_hours }}
          </div>
          <div class="d-flex justify-center">
            <strong>Hours remaining : </strong>&nbsp;{{ project.hours_remaining }}
          </div>
          
          <v-card flat>
            <v-table>
              <thead>
                <tr>
                  <th class="text-left">Date</th>
                  <th class="text-left">
                    Start
                  </th>
                  <th class="text-left">
                    End
                  </th>
                  <th class="text-left">
                    Hours worked<br />on the project
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="(wt) in project.workingtimes" :key="wt.id">
                  <td>{{ getDate(wt.start) }}</td>
                  <td>{{ getHour(wt.start) }}</td>
                  <td>{{ getHour(wt.end) }}</td>
                  <td>{{ wt.hour_worked }}</td>
                </tr>
              </tbody>
            </v-table>
          </v-card>
        </v-expansion-panel-text>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-card>
</template>

<script>
import { getProjectsByUser } from '@/requests'
import 'vue-cal/dist/vuecal.css'
import { formatHour, formatDate } from '@/utils/date';

export default {
  name: 'ProjectsComponent',
  data() {
    return {
      week: [],
      projects: [],
      userId: this.$route.params.userID,
      splitDays: []
    };
  },
  mounted() {
    this.getProjects()
    this.daysInWeek()
  },
  methods: {
    getProjects() {
      getProjectsByUser(this.userId)
        .then(async (response) => {
          const res = await response.json();
          this.projects = res.data;
        })
        .catch(() => { });
    },

    onEventClick(e) {
      console.log(e)
    },
    daysInWeek() {
      var current = new Date()

      var week = new Array();
      current.setDate((current.getDate() - current.getDay() + 1));
      for (var i = 0; i < 7; i++) {
        week.push(
          new Date(current)
        );
        current.setDate(current.getDate() + 1);
      }
      this.week = week;
    },

    isDateInDay(start_wt, date_day) {
      const start = new Date(start_wt);
      const date = new Date(date_day);
      if (start.toDateString() === date.toDateString()) {
        return true;
      }

      return false;
    },


    hoursOnProjectThisDay(wt, date_day) {
      var res = 0
      for (var i = 0; i < wt.length; i++) {
        if (this.isDateInDay(wt[i].start, date_day)) {
          res += wt[i].hour_worked
        }
      }
      return res
    },
    getHour(_date) {
      return formatHour(_date)
    },
    getDate(_date) {
      return formatDate(_date)
    },
  }
};
</script>

