<template>
  <v-card-title v-if="storeUserConnected[0]" class="text-center py-5">
    <v-row class="d-flex justify-center ">
      <h1 class="font-weight-bold text-h2 ml-auto mr-auto pb-10">
        {{storeUserConnected[0].username}}'s Dashboard
      </h1>
    </v-row>
  </v-card-title>
  <v-card class="ma-10 px-13 py-10">
    <v-card-title class="text-center py-5">
      <v-row class="d-flex justify-center ">
        <h1 class=" text-h2 ml-auto mr-auto">
          My wages
        </h1>
        <div class="d-flex justify-end">
        </div>
      </v-row>
    </v-card-title>
    <v-window>
      <v-window-item value="List">
        <v-card flat>
          <v-table>
            <thead>
              <tr>
                <th class="text-left">Id</th>
                <th class="text-left">
                  Month
                </th>
                <th class="text-left">
                  Wage
                </th>
              </tr>
            </thead>
            <tbody v-if="wages.length == 0" class="text-center justify-center">
              No wage registered yet.
            </tbody>
            <tbody v-else>
              <tr v-for="(w) in wages" :key="w.id">
                <td>{{ w.id }}</td>
                <td>{{ formatMonth(w.month) }}</td>
                <td>{{ w.value }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-window-item>
    </v-window>
  </v-card>
</template>

<script>
import moment from 'moment'
import {ref} from 'vue';
import {getWagesByUser} from "../requests"; 
import { mapState } from "vuex";


export default {
  name: "WagesComponent",
  data() {
    return {
      userInput: {
        id: 1,
        username: "Melvin",
        hourly_wage: 9
      },
      isConnected: false,
      wages: ref([]),
    };
  },
  watch: {
    storeUserConnected() {
      if (this.storeUserConnected[0]) {
        this.current_user_id = this.storeUserConnected[0].id;
      }
    },
  },
  computed: {
    ...mapState({
      storeUserConnected: (s) => s.userConnected,
    }),
    current_user_id() {
      return this.storeUserConnected[0] ? this.storeUserConnected[0].id : null
    }
  },
  updated() {
    // get the user's last month workingtimes
    this.getUserWages()
  },
  mounted() {
    // get the user's last month workingtimes
    this.getUserWages()
  },
  methods: {
    getUserWages() {
      // get the user's workintimes in the specified period
      getWagesByUser(this.current_user_id)
      .then(async (response) => {
          const res = await response.json();
          if(res.data) this.wages = res.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    formatMonth(month) {
      return moment(month).format('MMMM YYYY')
    },
  }
};
</script>