<template>
  <v-container>
    <v-row class="d-flex justify-center ">
      <v-btn class="ma-2 mr-auto" @click="$router.push({name:'allWorkingTimes', params:{ userID: userID_param }})">
        <v-icon icon="mdi-arrow-left"/>
        Back
      </v-btn>

      <h2  v-if="workingtimeID_param && workingtimeInput" class="mr-auto"> Manage my working time </h2>
      <h2 v-else class="mr-auto"> Create a working time </h2>
    </v-row>
    <br/>
    <v-form>
      <v-text-field v-model="workingtimeInput.start" type="datetime-local" label="Start" counter
        :disabled="workingtimeID_param && !edit">
      </v-text-field>
      <v-text-field v-model="workingtimeInput.end" type="datetime-local" label="End" counter
        :disabled="workingtimeID_param && !edit">
      </v-text-field>
      <v-select v-model="workingtimeInput.wt_type_id" :items="WTtypes" item-title="name" item-value="id" label="Type" />

      <v-textarea v-model="workingtimeInput.comments" label="Comments" auto-grow></v-textarea>
    </v-form>
    <div v-if="workingtimeID_param">
      <v-btn v-if="!edit" class="mr-4" @click="edit = !edit">
        Edit <v-icon dark> mdi-pencil</v-icon>
      </v-btn>
      <div v-else>
        <v-btn class="mr-4" @click="updateWorkingTime()"> Submit </v-btn>
        <v-btn @click="edit = false">
          Cancel
        </v-btn>
        <v-btn v-if="!modal" @click="modal = true">
          <v-icon dark> mdi-delete</v-icon>
        </v-btn>
      </div>
    </div>
    <div v-else>
      <v-btn class="mr-4" @click="createWorkingTime()"> Create </v-btn>
    </div>

    <v-dialog v-model="modal">
      <v-card>
        <v-card-item>
          <v-card-title>Delete the working time</v-card-title>
        </v-card-item>
        <v-card-text>
          Are you sure you want to delete this working time ?
        </v-card-text>
        <v-card-actions>
          <v-btn class="mr-4" @click="modal = false"> Cancel </v-btn>
        <v-btn class="mr-4" @click="deleteWorkingTime()"> Delete </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import moment from 'moment'
import { getWorkingTime, updateWT, createWorkingTime, deleteWorkingTime, getWTtypes } from "../requests";
import { diffBetweenDatesInHour } from "@/utils/date"

export default {
  data() {
    return {
      workingtimeID_param: this.$route.params.workingtimeID,
      userID_param: this.$route.params.userID,
      workingtimeInput: {
        start: moment(new Date()).format('YYYY-MM-DDTHH:mm:ss'),
        end: moment(new Date()).format('YYYY-MM-DDTHH:mm:ss'),
        wt_type_id: 1,
        comments: ""
      },
      edit: false,
      modal: false,
      WTtypes: []
    };
  },
  beforeMount() {
    this.getWTtypes()
    if (this.workingtimeID_param) {
      this.getWorkingTime()
    }
  },
  methods: {
    getWTtypes() {
      getWTtypes()
        .then(async (response) => {
          const res = await response.json();
          this.WTtypes = res.data
        })
        .catch(() => { });
    },
    getWorkingTime() {
      getWorkingTime(this.userID_param, this.workingtimeID_param)
        .then(async (response) => {
          const res = await response.json();
          this.workingtimeInput = res.data;
        })
        .catch(() => { });
    },

    createWorkingTime() {
      const body = {
        "wt": {
          "start": this.workingtimeInput.start,
          "end": this.workingtimeInput.end,
          "wt_type_id": this.workingtimeInput.wt_type_id,
          "day_hours": diffBetweenDatesInHour(this.workingtimeInput.end, this.workingtimeInput.start)
        }
      }

      if (this.workingtimeInput.comments != "") body.wt.comments = this.workingtimeInput.comments

      createWorkingTime(this.userID_param, body)
        .then(async (response) => {
          const res = await response.json();
          if (res.data) {
            this.workingtimeInput = res.data;
            this.edit = false
            this.$router.push({ name: "allWorkingTimes", params: { userID: this.userID_param } })
          } else {
            console.log("todo: error to display")
          }

        })
        .catch(() => { });
    },

    updateWorkingTime() {
      if (this.workingtimeInput.start == "" || this.workingtimeInput.end == "") return
      const body = {
        "wt": {
          "start": this.workingtimeInput.start,
          "end": this.workingtimeInput.end,
          "wt_type_id": this.workingtimeInput.wt_type_id
        }
      }

      if (this.workingtimeInput.comments != "") body.wt.comments = this.workingtimeInput.comments

      updateWT(this.workingtimeID_param, body)
        .then(async (response) => {
          const res = await response.json();
          this.workingtimeInput = res.data;
          this.edit = false
        })
        .catch(() => { });
    },

    deleteWorkingTime() {
      deleteWorkingTime(this.workingtimeID_param)
        .then(async (response) => {
          const res = await response.json();
          console.log("deleted ! " + res)
          this.$router.push({ name: "allWorkingTimes", params: { userID: this.userID_param } })
        })
        .catch(() => { });
      this.modal = false
    },
  },
};
</script>