<template>
  <v-container>
    <v-row>
      <v-col col="6">
        <v-card class="d-flex align-center justify-center" min-height="200" @click="goTo('manageTeams')" dark>
          <v-card-title>
            <v-icon icon="mdi-account-supervisor"></v-icon>
            Manage my teams
          </v-card-title>
        </v-card>
      </v-col>
      <v-col col="6">
        <v-card class="d-flex align-center justify-center" min-height="200" @click="goTo('manageUsers')" dark>
          <v-card-title>
            <v-icon icon="mdi-account"></v-icon>
            Manage users
          </v-card-title>
        </v-card>

      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  name: 'ManagerComponent',
  data() {
    return {
      tab: 'option-1',
      users: []
    }
  },
  methods: {
    goTo(_page, _params) {
      this.$router.push({ name: _page, params: _params })
    },
  },
};
</script>