<template>
  <v-container>
    <v-row class="d-flex justify-center ">
      <v-col col="12">
        <v-alert v-if="alertKO" type="error">{{ alertKO }}</v-alert>
        <v-alert v-if="alertOK" type="success">{{ alertOK }}</v-alert>
        <v-card>
          <v-toolbar class="d-flex">
            <v-toolbar-title class="mr-auto font-weight-bold ">Teams</v-toolbar-title>
            <v-btn v-if="this.storeUserConnected[0] && this.storeUserConnected[0].role_id > 2"
              @click="dialogCreate = true">
              <v-icon>mdi-plus</v-icon>add
            </v-btn>
          </v-toolbar>
          <div v-if="!loader">
            <div v-if="teams.length > 0" :class="!is_mobile ? 'd-flex flex-row' : ''">
              <v-tabs v-if="is_mobile" show-arrows v-model="tab">
                <v-tab v-for="team in teams" :key="team.id" :value="team.id" @click="selectTeam(team)">
                  <v-icon start>
                    mdi-account
                  </v-icon>
                  {{ team.name }}
                </v-tab>
              </v-tabs>
              <v-tabs v-else v-model="tab" direction="vertical">
                <v-tab v-for="team in teams" :key="team.id" :value="team.id" @click="selectTeam(team)">
                  <v-icon start>
                    mdi-account
                  </v-icon>
                  {{ team.name }}
                </v-tab>
              </v-tabs>
              <v-window v-model="tab" class="ml-6" style="width: 100%;">
                <v-window-item :value="teamInput.id">
                  <v-card flat>
                    <v-card-text class="text-center">
                      <v-row>
                        <v-col class="text-h2" cols="12">
                          <p>
                            {{ teamInput.name }}
                          </p>
                        </v-col>
                        <v-col class="text-h2" :cols="is_mobile ? '12' : '6'">
                          <v-text-field v-model="teamInput.name" label="Name" required></v-text-field>
                          <v-text-field v-model="teamInput.total_hours" label="Total hours expected on this project"
                            required>
                          </v-text-field>
                          <v-text-field v-model="teamInput.hours_remaining" label="Remaining hour on this project"
                            required>
                          </v-text-field>

                          <v-btn class="mr-4" @click="updateTeam(teamInput.id)"> Edit </v-btn>

                        </v-col>
                        <v-col class="text-h2" :cols="is_mobile ? '12' : '6'">

                          <v-list density="compact" lines="one" class="overflow-y-auto">
                            <v-list-subheader class="justify-center">MANAGERS</v-list-subheader>
                            <v-combobox v-model="managerToAdd" label="Add a manager to the team" :items="usersManaged"
                              item-title="username" item-value="id">
                              <template v-slot:append>
                                <v-btn eight="auto" text @click="addManagerToTeam(teamInput.id)">
                                  <v-icon>mdi-plus</v-icon>
                                </v-btn>
                              </template>
                            </v-combobox>

                            <v-list-item v-for="user in managersUsers" :key="user.id" :value="user"
                              :title="user.username">
                              <template v-slot:append>
                                <v-icon @click="removeManagerFromTeam(teamInput.id, user.id)" size="25">mdi-delete
                                </v-icon>
                              </template>
                            </v-list-item>
                          </v-list>

                          <v-list density="compact" lines="one" class="overflow-y-auto">
                            <v-list-subheader class="justify-center">MEMBERS</v-list-subheader>
                            <v-combobox v-model="userToAdd" label="Add user to the team" :items="usersManaged"
                              item-title="username" item-value="id">
                              <template v-slot:append>
                                <v-btn eight="auto" text @click="addUserToTeam(teamInput.id)">
                                  <v-icon>mdi-plus</v-icon>
                                </v-btn>
                              </template>
                            </v-combobox>

                            <v-list-item v-for="user in nonManagersUsers" :key="user.id" :value="user"
                              :title="user.username">
                              <template v-slot:append>
                                <v-icon @click="removeFromTeam(teamInput.id, user.id)" size="25">mdi-delete</v-icon>
                              </template>
                            </v-list-item>
                          </v-list>
                        </v-col>
                      </v-row>
                    </v-card-text>
                    <v-chip v-if="this.storeUserConnected[0] && this.storeUserConnected[0].role_id > 2" class="ma-2"
                      color="red" text-color="white" @click="dialogDelete = true">
                      Delete the team
                    </v-chip>
                  </v-card>
                </v-window-item>
              </v-window>
            </div>
            <div v-else>
              You're not managing any teams
            </div>
          </div>
          <div v-else class="text-center">
            <vue-loaders-pacman color="black" />
          </div>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialogDelete">
      <v-card>
        <v-card-item>
          <v-card-title>Delete the team {{ teamInput.name }}</v-card-title>
        </v-card-item>
        <v-card-text>
          Are you sure you want to delete {{ teamInput.name }} ?
        </v-card-text>
        <v-card-actions>
          <v-btn class="mr-4" @click="dialogDelete = false"> Cancel </v-btn>
          <v-btn class="mr-4" @click="deleteTeam(teamInput.id)"> Delete </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogCreate">
      <v-card>
        <v-card-item>
          <v-card-title>Create a new team</v-card-title>
        </v-card-item>
        <v-card-text>
          <v-text-field v-model="newTeam.name" label="Name" required :rules="[createRules.required]" />
          <v-text-field v-model="newTeam.total_hours" label="Total hours expected" :rules="[createRules.required]"
            required />
        </v-card-text>
        <v-card-actions>
          <v-btn class="mr-4" @click="dialogCreate = false"> Cancel </v-btn>
          <v-btn class="mr-4" @click="createTeam()"> Create </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
// import { getAllTeams } from '@/requests';
import { getTeamsByManager, updateTeam, addUserToTeam, createTeam, getAllTeams, deleteUserFromTeam, getUsers, getUsersByManager, deleteTeam, addManagerToTeam } from '@/requests';
import { mapState } from "vuex";
import { useDisplay } from 'vuetify'
import { computed } from 'vue'

export default {
  name: 'ManageTeamsComponent',
  setup() {
    const { name } = useDisplay()

    const is_mobile = computed(() => {
      switch (name.value) {
        case 'xs': return true
      }

      return undefined
    })

    return { is_mobile }
  },
  data() {
    return {
      tab: '',
      teams: [],
      teamsInput: [],
      teamInput: {
        name: "",
        hours_remaining: "",
        total_hours: ""
      },
      newTeam: {
        name: "",
        total_hours: ""
      },
      usersManaged: [],
      userToAdd: null,
      managerToAdd: null,
      alertOK: null,
      alertKO: null,
      loader: false,
      dialogDelete: false,
      dialogCreate: false,
      createRules: {
        required: (value) => !!value || "Required",
      },
    }
  },
  watch: {
    storeUserConnected() {
      if (this.storeUserConnected[0]) {
        this.current_user_id = this.storeUserConnected[0].id;
      }
    },
    current_user_id(val) {
      if (val) {
        this.getTeams()
        this.getUsersManaged()
      }
    }
  },
  computed: {
    ...mapState({
      storeUserConnected: (s) => s.userConnected,
    }),
    current_user_id() {
      return this.storeUserConnected[0] ? this.storeUserConnected[0].id : null
    },
    nonManagersUsers() {
      return this.teamInput.users.filter(element => !element.is_manager).sort();
    },
    managersUsers() {
      return this.teamInput.users.filter(element => element.is_manager).sort();
    }

  },
  mounted() {
    this.loader = true
    if (this.current_user_id) {
      this.getTeams()
      this.getUsersManaged()
    }
  },
  methods: {
    getUsersManaged() {
      if (this.storeUserConnected[0] && this.storeUserConnected[0].role_id == 2) {
        getUsersByManager(this.current_user_id)
          .then(async (response) => {
            const res = await response.json();
            this.usersManaged = res.data
          })
      } else if (this.storeUserConnected[0] && this.storeUserConnected[0].role_id > 2)
        getUsers()
          .then(async (response) => {
            const res = await response.json();
            this.usersManaged = res.data
          })
          .catch(() => { });
    },
    getTeams() {
      if (this.storeUserConnected[0] && this.storeUserConnected[0].role_id == 3) { // si c'est un top manager
        getAllTeams()
          .then(async (response) => {
            const res = await response.json();
            this.teams = res.data
            if (res.data) {
              if (res.data[0]) {
                this.tab = JSON.parse(JSON.stringify(res.data[0].id))
                this.teamInput = JSON.parse(JSON.stringify(res.data[0]))
              }
              this.loader = false
            } else {
              this.loader = false
              this.alertKO = "An error occured, please try again."
              setTimeout(() => {
                this.alertKO = null
              }, 5000)
            }
          })
          .catch(() => { });
      } else {

        getTeamsByManager(this.current_user_id)
          .then(async (response) => {
            const res = await response.json();
            this.teams = JSON.parse(JSON.stringify(res.data))
            this.teamsInput = JSON.parse(JSON.stringify(res.data))
            if (res.data) {
              if (res.data[0]) {
                this.tab = JSON.parse(JSON.stringify(res.data[0].id))
                this.teamInput = JSON.parse(JSON.stringify(res.data[0]))
              }
              this.loader = false
            }
          })
          .catch(() => { });
      }
    },
    addUserToTeam(_teamid) {
      if (this.userToAdd) {
        addUserToTeam(this.userToAdd.id, _teamid)
          .then(async (response) => {
            const res = await response.json();
            if (res.status == 0) {
              this.alertKO = "User already in the group."
              setTimeout(() => {
                this.alertKO = null
              }, 5000)
            } else {
              this.teamInput.users.push(this.userToAdd)
            }
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    addManagerToTeam(_teamid) {
      if (this.managerToAdd) {
        const body = {
          "is_manager": true
        }
        addManagerToTeam(this.managerToAdd.id, _teamid, body)
          .then(async (response) => {
            const res = await response.json();
            if (res && res.status == 0) {
              this.alertKO = "An error occured."
              setTimeout(() => {
                this.alertKO = null
              }, 5000)
            } else {
              console.log("dans le else")
              var index = this.teamInput.users.findIndex(user => user.id == this.managerToAdd.id);
              if (index < 0) {
                this.managerToAdd.is_manager = true
                this.teamInput.users.push(this.managerToAdd)
              } else {
                this.teamInput.users[index].is_manager = true
              }
            }
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    removeManagerFromTeam(_teamid, _userID) {
      const body = {
        "is_manager": false
      }
      addManagerToTeam(_userID, _teamid, body)
        .then(async (response) => {
          const res = await response.json();
          if (res.status == 0) {
            this.alertKO = "An error occured."
            setTimeout(() => {
              this.alertKO = null
            }, 5000)
          } else {
            this.teamInput.users.map(element => {
              if (element.id == _userID) {
                element.is_manager = false
              }
            })
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    updateTeam(_teamid) {
      const body = {
        "team": {
          "name": this.teamInput.name,
          "hours_remaining": this.teamInput.hours_remaining,
          "total_hours": this.teamInput.total_hours,
        }
      }

      updateTeam(_teamid, body)
        .then(async (response) => {
          const res = await response.json();
          console.log(res)
        })
        .catch((error) => {
          console.log(error);
        });
    },
    removeFromTeam(_teamid, _userID) {
      deleteUserFromTeam(_teamid, _userID)
        .then(async () => {
          var index = this.teamInput.users.findIndex(user => user.id == _userID);
          this.teamInput.users.splice(index, 1);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    selectTeam(_team) {
      this.teamInput = JSON.parse(JSON.stringify(_team))
    },

    deleteTeam(_teamid) {
      deleteTeam(_teamid)
        .then(async () => {
          this.dialogDelete = false
          setTimeout(() => {
            this.alertOK = "Team successfully deleted"
          }, 1500)
          setTimeout(() => {
            this.alertOK = null
          }, 8000)
          var index = this.teams.findIndex(team => team.id == _teamid);
          this.teams.splice(index, 1);
          this.tab = this.teams[0].name
          this.teamInput = JSON.parse(JSON.stringify(this.teams[0]))

        })
        .catch((error) => {
          console.log(error);
        });
    },
    createTeam() {
      const body = {
        "team": {
          "name": this.newTeam.name,
          "total_hours": this.newTeam.total_hours,
          "hours_remaining": this.newTeam.total_hours,
        }
      }
      createTeam(body)
        .then(async (response) => {
          const res = await response.json();
          this.dialogCreate = false
          setTimeout(() => {
            this.alertOK = "Team successfully created"
          }, 1500)
          setTimeout(() => {
            this.alertOK = null
          }, 8000)
          this.teams.push(res.data);

        })
        .catch((error) => {
          console.log(error);
          this.dialogCreate = false
          setTimeout(() => {
            this.alertKO = "An error occured. Please, try again."
          }, 1500)
          setTimeout(() => {
            this.alertKO = null
          }, 8000)
        });
    }
  },
};
</script>