<template>
  <v-container>
    <v-row class="d-flex justify-center">
      <v-col col="12">
        <v-card>
          <v-alert v-if="alertOK" type="success">{{ alertMessage }}</v-alert>
          <v-toolbar class="d-flex">
            <v-toolbar-title class="mr-auto font-weight-bold"
              >Users</v-toolbar-title
            >
            <v-btn
              v-if="
                this.storeUserConnected[0] &&
                this.storeUserConnected[0].role_id > 2
              "
              icon="mdi-plus"
              @click="dialogRegister = true"
            ></v-btn>
          </v-toolbar>
          <div v-if="!loader">
            <div
              v-if="users.length > 0"
              :class="!is_mobile ? 'd-flex flex-row' : ''"
            >
              <v-tabs v-if="is_mobile" show-arrows v-model="tab">
                <v-tab v-for="user in users" :key="user.id" :value="user.id">
                  <v-icon start> mdi-account </v-icon>
                  {{ user.username }}
                </v-tab>
              </v-tabs>
              <v-tabs v-else v-model="tab" direction="vertical">
                <v-tab v-for="user in users" :key="user.id" :value="user.id">
                  <v-icon start> mdi-account </v-icon>
                  {{ user.username }}
                </v-tab>
              </v-tabs>
              <v-window v-model="tab">
                <v-window-item
                  v-for="user in users"
                  :key="user.id"
                  :value="user.id"
                >
                  <v-row>
                    <v-col col="6" xs="12">
                      <v-card flat :width="!is_mobile ? '500' : ''">
                        <v-card-text class="text-center">
                          <v-row>
                            <v-col class="text-h2" cols="12">
                              <user-form
                                :connectedUser="storeUserConnected[0]"
                                :user_id="user.id"
                                :edit="true"
                                :manager="true"
                                @alertOK="displayAlert($event)"
                                @getUsers="getUsers()"
                              />
                            </v-col>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <v-col col="6" xs="12" class="mt-5">
                      <v-row class="mt-5">
                        <v-col col="12">
                          <v-card
                            class="d-flex align-center justify-center"
                            min-height="200"
                            @click="
                              $router.push({
                                name: 'clock',
                                params: { userID: user.id },
                              })
                            "
                            dark
                          >
                            <v-card-title>
                              <v-icon icon="mdi-account-supervisor"></v-icon>
                              Clock-in/clock-out the user
                            </v-card-title>
                          </v-card>
                        </v-col>
                        <v-col col="12">
                          <v-card
                            class="d-flex align-center justify-center"
                            min-height="200"
                            @click="
                              $router.push({
                                name: 'allWorkingTimes',
                                params: { userID: user.id },
                              })
                            "
                            dark
                          >
                            <v-card-title>
                              <v-icon icon="mdi-account"></v-icon>
                              Manage workings times
                            </v-card-title>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-window-item>
              </v-window>
            </div>
          </div>
          <div v-else class="text-center">
            <vue-loaders-pacman color="black" />
          </div>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialogRegister">
      <v-card>
        <v-card-item>
          <v-card-title>Create a new user</v-card-title>
        </v-card-item>
        <v-card-text>
          <user-form
            :connectedUser="storeUserConnected[0]"
            :manager="true"
            @alertOK="displayAlert($event)"
            @createUser="users.push($event)"
          />
        </v-card-text>
        <v-card-actions>
          <v-btn class="mr-4" @click="dialogRegister = false"> Cancel </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { getUsers, getUsersByManager } from "@/requests";
import UserForm from "../utils/UserForm.vue";
import { mapState } from "vuex";
import { useDisplay } from "vuetify";
import { computed } from "vue";

export default {
  name: "ManageUsersComponent",
  components: { UserForm },
  props: ["allUsers"],
  setup() {
    const { name } = useDisplay();

    const is_mobile = computed(() => {
      switch (name.value) {
        case "xs":
          return true;
      }

      return undefined;
    });

    return { is_mobile };
  },
  data() {
    return {
      tab: "",
      users: [],
      loader: false,
      alertOK: false,
      alertMessage: "",
      dialogRegister: false,
    };
  },
  watch: {
    storeUserConnected() {
      if (this.storeUserConnected[0]) {
        this.current_user_id = this.storeUserConnected[0].id;
      }
    },
    current_user_id: {
      handler(val) {
        if (val) {
          this.getUsers();
        }
      },
    },
  },
  computed: {
    ...mapState({
      storeUserConnected: (s) => s.userConnected,
    }),
    current_user_id() {
      return this.storeUserConnected[0] ? this.storeUserConnected[0].id : null;
    },
  },
  beforeMount() {
    this.loader = true;
    this.getUsers();
  },
  methods: {
    getUsers() {
      if (
        this.storeUserConnected[0] &&
        this.storeUserConnected[0].role_id == 2
      ) {
        getUsersByManager(this.current_user_id).then(async (response) => {
          const res = await response.json();
          this.users = res.data;
          if (res.data[0]) this.tab = res.data[0].id;
          this.loader = false;
        });
      } else if (
        this.storeUserConnected[0] &&
        this.storeUserConnected[0].role_id > 2
      )
        getUsers()
          .then(async (response) => {
            const res = await response.json();
            this.users = res.data;
            if (res.data[0]) {
              this.tab = res.data[0].id;
              this.loader = false;
            }
          })
          .catch(() => {});
    },
    displayAlert(_event) {
      this.alertMessage = _event;
      this.dialogRegister = false;
      this.alertOK = true;
      setTimeout(() => {
        this.alertOK = false;
      }, 5000);
    },
  },
};
</script>
